<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="ROBOTS" content="NOODP" />
  <meta name="viewport" content="initial-scale=1" />
  <title><%= title %></title>
  <%= stylesheet_link_tag :application, media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= body_class %>">
  <%= render "flashes" -%>
  <ul class="nav">
    <% if user_signed_in? -%>
      <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
    <% else -%>
      <li><%= link_to 'Sign in', new_user_session_path %></li>
    <% end -%>
  </ul>
  <%= yield %>
  <%= render "javascript" %>
</body>
</html>
